body {
  background-color: #87986a;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}


footer {
  position: absolute;
  background: #b5c99a;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.container {
  position: relative;
  color: #363d2a;
  background-color: #cfe1b9;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 700px;
  box-shadow:  17px 17px 0px #556043;
  z-index: 1;
}

.main_area  {
  padding-top: 30px;
  margin-left: 35px;
  display: flex;
  flex-direction: row;
}

.data_block {
  padding: 5px;
}

.fblock {
  width: 150px;
}

.sblock {
  width: 240px;
}

.data_block:nth-child(odd) {
  background: ;
}

ul {
  list-style-type: none;
}

li {
  z-index: 3;
}

ion-icon {
  margin: 0px 7px;
}

h2 {
  margin: 0px 10px;
  width: 70%;
  background-color: #b5c99a;
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-family: 'Inconsolata', monospace;
}

a {
  color: #363d2a;
  text-decoration: none;
} 

.mid_line {
  width: 3px;
  background-color: #b5c99a;
  border-radius: 50px;
  z-index: 3;
}

.footer_data {
  margin-left: 15%;
  position: absolute;
  right: 90px;
  bottom: 5px;
}

pre {
  margin-left: -25%;
}

.github {
  margin-right: 5px;
}

.triangle {
  border-style: solid;
  border-width: 80px 80px 0px 0px;
  border-color: #97a97c transparent;
  width: 0;
}

.tr1 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.shadow_triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  border-color: transparent #87986a;
}

.small_tri {
  position: absolute;
  right: 0;
  bottom: 70px;
  border-width: 10px 10px 0px 0px;
  border-color: #97a97c #b5c99a;
}
